body{
    background-color: #f3f6f4;
    font-family: sans-serif;
}
.high-bar{
    background-color: #ff7f50;
    display: flex;
    padding: 0.2rem 1rem;
    justify-content: center;
    position: relative;
}
.high-bar a{
    color: #ffffff;
    font-size: 0.8rem; 
    text-decoration: none;
    padding: 0.3rem;
    cursor: pointer;
}
.high-bar img{
    width: 1.2rem;
    height: 1rem;
    padding: 0.2rem;
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

nav{
    display: flex;
    text-transform: capitalize;
    width: 100vw;
    height: 3rem;
    position: relative;
}

.home-btn{
    padding-right: 1rem;
    height: auto;
    width: 6rem;
}
.home-btn button{
    background-color: transparent;
    border: none;
    padding: 0rem;
}
.home-btn img{
    width: 6rem;
    object-fit: cover;
    height: 3rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
}
li{
    height: 1rem;
}
li a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.nav-right{
    display: flex;
    position: absolute;
    right: 2rem;
}
.nav-right img{}
.align-content{
    display: flex;
}
.btn-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#greater{}
.nav-right form{}
.nav-image-icon{}

main{
    
}
.main-image{
    
}
.main-image img{
    width: 100vw;
}